@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F1F0F0;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    
}

nav img {
    height: 50px; 
    margin-left: 50px;  
}

nav ul {
    display: flex;
    flex: 1;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px;
     
}

nav ul li:first-child {
    font-weight: bold;
}

nav ul li:hover {
    font-size: large;
    background-color: #e6dddc;
    cursor: pointer;
}

nav a {
    padding: 8px;
   
    border-radius: 7px;
    color: aliceblue;
    background-color: black;
    margin: auto;
    margin-right: 20px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: aquamarine;
}

.wrapper-form {
    position: relative;
    margin: 50px;
    background-color: burlywood;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-form h1 {
    margin: 20px;
}

form {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

label {
    margin: 10px;
}

input {
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    height: 40px;
    margin: 10px;
    /* width: 100%; */
}

.wrapper-date {
    display: flex;
}

.date-form1 {
    flex: 1;    
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(201, 147, 76);
}
.date-form2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: antiquewhite;
}

textarea {
    border-radius: 10px;
}
.radio-button {
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
