.myproject-container {
    height: 150vh;
    background-color: rgb(192, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myproject-container h1 {
    margin-top: 30px;
}
.wrapper-myproject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    background-color: tomato;
    height: 130%;
    width: 80%;
    padding: 50px;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: aqua;
    margin: 10px;
    

}

.item-card img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    margin-bottom: auto;
}

.text {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(124, 168, 2);
}

.wrapper-checkbox {
    gap: 10px;
    display: flex;
    margin-bottom: 10px;
}
.checkbox-item img {
    height: 40px;
}

.option {
    margin: 10px;
    display: flex;
    background-color: beige;
}
